<tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= image_tag product.image_url, class: "product-thumb" %></td>
        <td><%= product.colour %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% logger.debug "Product: #{@product.name}"%>
 </tr>