<p id="notice"><%= notice %></p>

<% cache @product do %>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

<% end %>

<p>
  <strong>Image url:</strong>
  <% if @product.image_url.present? %>
  <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url") %>
  <% end %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

<%= form_tag "/payments/create" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
  <%= hidden_field_tag(:product_id, @product.id) %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= render 'new_comment' %>
<%= render 'comments' %>

<%= will_paginate @comments %>

<%= @product.comments.order(rating: :desc).first %>
<%= @product.highest_rating_comment %>


